<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>BARC-CO • Registro</title>
  </head>
  <body>
    <header>    {% include 'header.html' %}
</header>
    <main>
      <form class="formlog2" action="{{ url_for('main.submit') }}" method="POST">
        <h1 id="hregistro">Registrarse</h1>
        <div class="campo">
          <label>Nombre:</label>
          <br>
          <input type="text" name="name" placeholder="nombre" required />
        </div>
        <div class="campo">
          <label>Apellido:</label>
          <br>
          <input type="text" name="last_name" placeholder="apellido" required/>
        </div>
          
        <div class="campo">
          <label>Fecha de nacimiento:</label>
          <br>
          <input type="date" name="birth_date" required />
        </div>

        <div class="campo">
          <label>Dirección:</label>
          <br>
          <input type="text" name="address" required placeholder="Dirección"/>
        </div>
          
        <div class="campo">
          <label>Teléfono:</label>
         <br>
          <input type="tel" name="telephone" required placeholder="Ejemplo: 1123456789"/>
        </div>
        <div class="campo">
          <label>Email:</label>
          <br>
          <input type="email" name="email" placeholder="ej: nico@gmail.com" required/>
        </div>
        <div class="campo">
          <label>Password:</label>
          <br>
          <input type="password" name="password" placeholder="" required/>
        </div>
        <div class="campo">
          <label>Tipo de usuario:</label>
          <select name="type_user" required>
            <option value="" selected disabled hidden>Elegí un Opción</option>
            <option value="Cliente">Cliente</option>
            <option value="Gerente">Gerente</option>
            <option value="Encargado de Barcos">Encargado de Barcos</option>
            <option value="Encargado de Enviós">Encargado de Enviós</option>
          </select>
        </div>
        <button type="submit">Registrarme</button>
      </form>
    </main>
    <footer></footer>
  </body>
</html>
