<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <title>BARC-CO • Login</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <header>
    {% include 'header.html' %}
  </header>
  
  <form  class="formlog" action="{{ url_for('auth.login_post') }}" method="POST">
    <h1 id="hlogin">Iniciar sesión</h1>
    <div class="campologin">
      <label>Usuario: </label>
      <br>
      <input name="username" required>
    </div>
    <br>
    <div class="campologin">
      <label>Contraseña: </label>
      <br>
      <input name="password" type="password" required>
    </div>
      <br>
      <button type="submit">Login</button>
  </form>
  <p><a href="{{ url_for('main.index') }}">Volver</a></p>
</body>
</html>